<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhanMemQLNS.Properties.Settings.PhanMemQLNSConnectionString"
            connectionString="Data Source=DESKTOP-UU7V8Q9\DELL;Initial Catalog=PhanMemQLNS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PhanMemQLNS.Properties.Settings.PhanMemQLNSConnectionString1"
            connectionString="Data Source=DESKTOP-UU7V8Q9\SQLEXPRESS;Initial Catalog=PhanMemQLNS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>